.button {
  display: block;
  padding-top: 14px;
  padding-bottom: 14px;
  box-sizing: border-box;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: @text-color;
  background-color: @bg-white;
  border: 2px solid @text-color;
  text-decoration: none;
  text-align: center;
}

.button:hover,
.button:focus {
  color: @bg-white;
  background-color: @text-color;
}

.button:active {
  color: #7c7c7c;
}
