.header {
  .container-mobile();

  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 0 #ececec;
}

.header__logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 21px;
  margin-bottom: 21px;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.305;
  }
}

.header__logo img {
  display: block;
  width: 90px;
  height: auto;
}

.header__toggle {
  position: absolute;
  right: 30px;
  top: 30px;
}

@media (min-width: 768px) {
  .header {
    .container-tablet-paddings();

    flex-direction: row;
  }

  .header__logo {
    margin-left: 0;
  }

  .header__logo img {
    width: 115px;
  }
}

@media (min-width: 1150px) {
  .header {
    .container-desk();
  }

  .header__logo {
    position: absolute;
    top: 9px;
    left: 50%;
    margin-top: 0;
    margin-bottom: 0;
    transform: translate(-50%);
  }

  .header__logo img {
    width: 153px;
  }
}
