.header {
  display: flex;
  flex-direction: column;
  .container-mobile();
  .container-mobile-paddings();
  position: relative;
  box-shadow: 0 1px 0 #ececec;
}

.header__logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.header__toggle {
  position: absolute;
  right: 30px;
  top: 30px;
}
