.main-user {
  .nolist();
}

.main-user__cart,
.main-user__search {
  display: block;
  padding-top: 26px;
  padding-bottom: 26px;
  padding-left: 75px;
  color: @black;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0 1px 0 #ececec;
}
