.main-page {
  .container-mobile();
}

.main-page__header {
  padding-top: 69px;
  padding-bottom: 174px;
  padding-left: 44px;
  padding-right: 30px;
  text-align: center;
  background-color: @bg-grey;
  background-image: url("../img/hero-tablet@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}
