.main-user {
  .nolist();
}

.main-user__cart,
.main-user__search {
  position: relative;
  display: block;
  padding-top: 26px;
  padding-bottom: 26px;
  padding-left: 75px;
  color: @black;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0 1px 0 #ececec;

  &::before {
    content: "";
    position: absolute;
    top: 28px;
    left: 0;
    display: block;
    width: 22px;
    height: 22px;
    background-color: inherit;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.main-user__cart::before {
  background-image: url("../img/icon-cart.svg");
}

.main-user__search::before {
  background-image: url("../img/icon-search.svg");
}

.main-user__cart:hover,
.main-user__search:hover,
.main-user__cart:focus,
.main-user__search:focus {
  color: #7c7c7c;
}

.main-user__cart:active,
.main-user__search:active {
  color: #b2b2b2;
}

.main-user__cart:hover,
.main-user__cart:focus {
  &::before {
    background-image: url("../img/icon-carthov.svg");
  }
}

.main-user__cart:active {
  &::before {
    background-image: url("../img/icon-cartact.svg");
  }
}

.main-user__search:hover,
.main-user__search:focus {
  &::before {
    background-image: url("../img/icon-search-hover.svg");
  }
}

.main-user__search:active {
  &::before {
    background-image: url("../img/icon-search-active.svg");
  }
}

@media (min-width: 768px) {
  .main-user {
    display: flex;
    flex-wrap: wrap;
  }

  .main-user__cart,
  .main-user__search {
    display: flex;
    align-items: center;
    height: 100%;
    box-shadow: none;
  }

  .main-user__cart {
    padding-left: 85px;
    border-left: @border;

    &::before {
      left: 32px;
    }
  }

  .main-user__search {
    width: 84px;
    padding-left: 84px;
    white-space: nowrap;
    border-left: @border;
    overflow: hidden;
    text-indent: 100%;

    &::before {
      left: 34px;
    }
  }

  .main-page__header-wrapper {
    position: relative;
  }
}

@media (min-width: 1150px) {
  .main-user {
    justify-content: flex-end;
    flex-basis: 45%;
  }

  .main-user__cart,
  .main-user__search {
    padding-top: 32px;
    padding-bottom: 35px;
  }

  .main-user__cart::before,
  .main-user__search::before {
    top: 32px;
  }
}
