.hits-item {
  .container-mobile-paddings();

  padding-top: 27px;
  padding-bottom: 35px;
  background-color: @bg-white;
}

.hits-item__name {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: @black;
}

.hits-item__hit-remark {
  padding-top: 5px;
  margin-bottom: 22px;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: @decoration-1;
  background-color: @bg-white;
}

.hits-item__description {
  margin-top: 10px;
  margin-bottom: 11px;
}

.hits-item__properties {
  margin-bottom: 28px;
  width: 100%;
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

.hits-item__property-name,
.hits-item__property-value {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 6px;
  border-bottom: @border;
}

.hits-item__image {
  display: block;
  margin-bottom: 22px;
  background-color: @bg-grey;
}

.hits-item__image img {
  display: block;
  width: 100%;
}

.hits-item__price {
  margin-top: 0;
  margin-bottom: 26px;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  color: @text-color;
  background-color: inherit;
}

.hits-item__button {
  width: 100%;
}

@media (min-width: 768px) {
  .hits-item {
    .container-tablet-paddings();

    padding-top: 45px;
    padding-bottom: 53px;
  }

  .hits-item__name {
    margin-right: 100px;
    margin-left: -3px;
    font-size: 43px;
    line-height: 50px;
  }

  .hits-item__name-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 49px;
  }

  .hits-item__details-wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-right: 42px;
    width: 50%;
  }

  .hits-item__hit-remark {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    width: 123px;
    font-size: 17px;
    line-height: 17px;
    text-align: center;
  }

  .hits-item__property-name,
  .hits-item__property-value {
    padding-top: 5px;
    padding-bottom: 4px;
    line-height: 30px;
  }

  .hits-item__image {
    position: absolute;
    top: 8px;
    left: 100%;
    width: 100%;
  }

  .hits-item__description {
    margin-top: 0;
    margin-bottom: 35px;
    font-size: 17px;
    line-height: 30px;
  }

  .hits-item__properties {
    margin-bottom: 57px;
  }

  .hits-item__price {
    margin-bottom: 34px;
    font-size: 20px;
    line-height: 24px;
  }

  .hits-item__button {
    margin-bottom: 0;
  }
}

@media (min-width: 1150px) {
  .hits {
    .container-desk();
    .container-mobile();
  }

  .hits-item {
    position: relative;
    padding-top: 126px;
    padding-bottom: 75px;
  }

  .hits-item__name-wrapper {
    align-items: center;
    margin-bottom: 50px;
  }

  .hits-item__hit-remark {
    width: 170px;
    margin-left: 0;
    padding-top: 7px;
    padding-right: 50px;
    padding-left: 40px;
  }

  .hits-item__name {
    order: 1;
    z-index: 2;
    margin-left: 0;
    font-size: 53px;
    line-height: 57px;
  }

  .hits-item__details-wrapper {
    position: static;
    width: 32%;
    margin-left: 16.66%;
  }

  .hits-item__image {
    left: 50%;
    top: 75px;
    width: ~"calc(50% - 50px)";
  }

  .hits-item__properties {
    margin-bottom: 110px;
    font-size: 15px;
    line-height: 20px;
  }

  .hits-item__description {
    margin-bottom: 45px;
  }

  .hits-item__property-name,
  .hits-item__property-value {
    padding-bottom: 5px;
  }

  .hits-item__button {
    margin-bottom: 0;
  }
}
