.feedback {
  .container-mobile-paddings();
  margin-bottom: 50px;
  padding-top: 22px;
}

.feedback__name {
  margin-top: 0;
  margin-bottom: 26px;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: @black;
  background-color: inherit;
}

.feedback__list {
  .nolist();
  line-height: 30px;
}

.feedback__text {
  margin: 0;
  margin-bottom: 22px;
}

.feedback__author {
  margin: 0;
  font-size: 17px;
  font-weight: bold;
  color: @black;
}

.feedback__tag {
  margin: 0;
  margin-bottom: 30px;
}

.feedback__directions {
  display: flex;
  margin-bottom: 38px;
}

.feedback__prev,
.feedback__next {
  flex-basis: 130px;
  height: 50px;
  border: @border;
  background-repeat: no-repeat;
  background-position: center;
}

.feedback__prev {
  background-image: url("../img/icon-left-arrow.svg");
}

.feedback__next {
  background-image: url("../img/icon-right-arrow.svg");
}

@media (min-width: 768px) {
  .feedback {
    margin-bottom: 65px;
    padding-top: 85px;
    padding-bottom: 50px;
    .container-tablet-paddings();
    display: flex;
    flex-wrap: wrap;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .feedback__name {
    margin-bottom: 50px;
    width: 50%;
    font-size: 43px;
    line-height: 50px;
  }

  .feedback__button {
    align-self: flex-start;
    margin-left: auto;
    padding-right: 39px;
    padding-left: 39px;
  }

  .feedback__wrapper {
    position: relative;
    order: 1;
  }

  .feedback__text {
    margin-bottom: 70px;
    font-size: 17px;
    line-height: 30px;
  }

  .feedback__tag {
    margin-bottom: 0;
  }

  .feedback__directions {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 0;
    width: 167px;
  }

  .feedback__prev,
  .feedback__next {
    border-color: transparent;
  }
}
