.feedback {
  .container-mobile();
  margin-bottom: 50px;
}

.feedback__wrapper {
  .container-mobile-paddings();
  padding-top: 22px;
}

.feedback__name {
  margin-top: 0;
  margin-bottom: 22px;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: @black;
  background-color: inherit;
}

.feedback__list {
  .nolist();
  line-height: 30px;
}

.feedback__text {
  margin: 0;
  margin-bottom: 22px;
}

.feedback__author {
  margin: 0;
  font-size: 17px;
  font-weight: bold;
  color: @black;
}

.feedback__tag {
  margin: 0;
  margin-bottom: 30px;
}

.feedback__directions {
  display: flex;
  margin-bottom: 38px;
}

.feedback__prev,
.feedback__next {
  position: relative;
  flex-basis: 130px;
  flex-grow: 1;
  height: 52px;
  border: @border;
  background-repeat: no-repeat;
  background-position: center;

  &:hover,
  &:focus,
  &:active {
    background-color: transparent;
  }
}

.feedback__icon {
  width: 50px;
  height: 27px;
  fill: @black;
  overflow: hidden;
}

.feedback__prev:hover .feedback__icon,
.feedback__next:hover .feedback__icon {
  fill: @arrow-hov;
}

.feedback__prev:active .feedback__icon,
.feedback__next:active .feedback__icon {
  fill: @nav-active;
}

@media (min-width: 768px) {
  .feedback__wrapper {
    .container-tablet-paddings();

    display: flex;
    flex-wrap: wrap;
    margin-bottom: 65px;
    padding-top: 77px;
    padding-bottom: 50px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    .feedback__wrapper {
      background-image: url("../img/review@2x.jpg");
    }
  }

  .feedback__name {
    margin-bottom: 50px;
    width: 50%;
    font-size: 43px;
    line-height: 50px;
  }

  .feedback__button {
    align-self: flex-start;
    margin-left: auto;
    padding-right: 39px;
    padding-left: 39px;
  }

  .feedback__slider-wrapper {
    position: relative;
    order: 1;
  }

  .feedback__text {
    margin-bottom: 53px;
    font-size: 17px;
    line-height: 30px;
  }

  .feedback__tag {
    margin-bottom: 0;
  }

  .feedback__directions {
    position: absolute;
    bottom: 6px;
    right: 0;
    margin-bottom: 0;
    width: 170px;
  }

  .feedback__prev,
  .feedback__next {
    border-color: transparent;
  }
}

@media (min-width: 1150px) {
  .feedback {
    .container-desk();
    .container-tablet-paddings();

    margin-bottom: 70px;
  }

  .feedback__wrapper {
    padding-top: 70px;
    padding-bottom: 95px;
    padding-left: 173px;
    padding-right: 0;
  }

  .feedback__name {
    font-size: 53px;
    line-height: 57px;
  }

  .feedback__button {
    margin-top: 10px;
  }

  .feedback__text {
    margin-bottom: 37px;
    padding-right: 100px;
  }

  .feedback__directions {
    bottom: 8px;
    right: 3px;
  }
}
