.order {
  .container-mobile-paddings();
}
.form__fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom:30px;
  padding: 0;
  border: 0;
}

.order__text {
  margin-top: 28px;
  margin-bottom: 30px;
  font-size: 13px;
  line-height: 24px;
}

.form__legend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  width: 100%;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  color: #63d1bb;
  text-transform: uppercase;
  &::after {
    content: "";
    display: block;
    width: 198px;
    height: 2px;
    background-color: #62d1ba;
  }
}

.form__label {
  display: flex;
}
