.social {
  .nolist();

  display: flex;
  justify-content: center;
}

.social__link {
  display: block;
  margin-left: 18px;
  margin-right: 18px;
}

.social__link--fb {
  margin-top: -5px;
}

.social__link:hover {
  fill: @decoration-2hov;
}

.social__link:active {
  fill: @fill-act;
}

@media (min-width: 768px) {
  .social__icon {
    width: 24px;
    height: 24px;
  }

  .social__link--fb {
    margin-top: 0;
  }
}
