.social {
  display: flex;
  .nolist();
}

.social__link {
  display: block;
  margin-left: 10px;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  background-color: @bg-grey;
  background-position: center;
  background-repeat: no-repeat;
}

.social__link--twitter {
  background-image: url("../../img/icon-twitter.svg");
}

.social__link--fb {
  background-image: url("../../img/icon-fb.svg");
}

.social__link--inst {
  background-image: url("../../img/icon-insta.svg");
}
