.social {
  .nolist();

  display: flex;
  justify-content: center;
}

.social__link {
  display: block;
  margin-left: 17px;
  margin-right: 17px;
}

.social__link:hover {
  fill: @decoration-2hov;
}

.social__link:active {
  fill: @fill-act;
}

@media (min-width: 768px) {
  .social__icon {
    width: 24px;
    height: 24px;
  }
}
