@bg-white: #ffffff;
@bg-grey: #f1f1f1;
@black: #000000;
@text-color: #444444;
@arrow-hov: #666666;
@decoration-1: #63d1bb;
@decoration-1-dark: #62d1ba;
@decoration-1hov: #59d5bc;
@decoration-1txt: #8be2d0;
@decoration-2: #56c3b2;
@decoration-2hov: #46c1ae;
@decoration-2txt: #7ed4c6;
@decoration-2act: #c7ece7;
@fill-act: #bde3dd;
@fill-icon-act: #d0f1ea;
@border: 1px solid #ececec;
@border-color: #ececec;
@button-active: #7c7c7c;
@nav-active: #b2b2b2;
@form-text: #d2d2d2;
@form-icon: #cccccc;
@form-texthov: #c7c7c7;
@left-icon: #3bb09d;
@left-icon-hov: #29a592;
@left-icon-act: #44c0aa;
@right-icon: #35a999;
@right-icon-hov: #239f8e;
@right-icon-act: #37b2a0;
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;
