.footer {
  .container-mobile();
  .container-mobile-paddings();
  padding-top: 25px;
  padding-bottom: 22px;
  background-color: @bg-grey;
}

.footer__social {
  padding-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
}

.footer__created {
  padding-top: 15px;
}
