.footer {
  .container-mobile();
  .container-mobile-paddings();
  padding-top: 26px;
  padding-bottom: 22px;
  background-color: @bg-grey;
}

.footer__social {
  justify-content: center;
  padding-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
}

.footer__created {
  justify-content: center;
  padding-top: 20px;
}
