.how-block {
  .container-mobile();
  .container-mobile-paddings();
}

.how-block__wrapper {
  position: relative;
  padding-top: 95px;
  padding-left: 33px;
  padding-right: 33px;
  border: @border;
}

.how-block__header {
  position: absolute;
  top: 24px;
  display: flex;
  align-items: center;
  flex-basis: 200px;
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: @black;

  &::before {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    padding-right: 57px;
    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat;
  }
}

.how-block__text {
  margin-top: 0;
  margin-bottom: 25px;

  font-size: 13px;
  line-height: 24px;
}

.how-block__button {
  display: block;
  padding-right: 24px;
  padding-left: 24px;
  vertical-align: middle;
}

.how-block__video-responsive {
  display: flex;
  position: relative;
  margin-top: 0;
  margin-bottom: 25px;
  margin-left: -33px;
  margin-right: -33px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 100px;
    height: 80px;
    margin-left: -50px;
    margin-top: -40px;
    background-image: url("../img/icon-play.svg");
    background-repeat: no-repeat;
    border-radius: 21px;
  }
}

.how-block__video-responsive:hover,
.how-block__video-responsive:focus {
  &::before {
    transform: scale(1.2);
  }
}

.how-block__video-responsive:active {
  &::before {
    opacity: 0.3;
    transform: scale(0.8);
  }
}

.how-block__video-placeholder {
  flex-grow: 1;
  display: block;
}

.how-block__wrapper-inside {
  padding-bottom: 33px;
}

@media (min-width: 768px) {
  .how-block {
    .container-tablet-paddings();
  }

  .how-block__wrapper {
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
  }

  .how-block__video-responsive {
    margin-bottom: 38px;
    margin-right: 0;
    margin-left: 0;
  }


  .how-block__header {
    position: static;
    font-size: 20px;
    line-height: 24px;

    &::before {
      width: 34px;
      height: 34px;
      padding-right: 65px;
    }
  }

  .how-block__wrapper-inside {
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 45px;
  }

  .how-block__text {
    margin-bottom: 40px;
  }
}

@media (min-width: 1150px) {
  .how-block {
    .container-desk();
  }

  .how-block__wrapper {
    display: flex;
  }

  .how-block__video-responsive {
    width: 683px;
  }

  .how-block__wrapper-inside {
    flex-basis: 367px;
    padding-top: 45px;
    padding-bottom: 60px;
    padding-left: 80px;
    padding-right: 60px;
  }

  .how-block__header {
    flex-wrap: wrap;
  }
}
