.how-block {
  .container-mobile-paddings();
}

.how-block__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 26px;
  padding-bottom: 33px;
  padding-left: 34px;
  padding-right: 34px;
  border: @border;
}

.how-block__header {
  position: relative;
  margin-top: 0;
  margin-bottom: 25px;
  padding-left: 67px;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: @black;

  &::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    display: block;
    width: 32px;
    height: 32px;
    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat;
  }
}

.how-block__text {
  margin-top: 0;
  margin-bottom: 25px;

  font-size: 13px;
  line-height: 24px;
}

.how-block__button {
  display: block;
  padding-right: 24px;
  padding-left: 24px;
  vertical-align: middle;
}

.how-block__video-responsive {
  display: flex;
  position: relative;
  margin-top: 0;
  margin-bottom: 25px;
  margin-left: -34px;
  margin-right: -34px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 100px;
    height: 80px;
    margin-left: -50px;
    margin-top: -40px;
    background-image: url("../img/icon-play.svg");
    background-repeat: no-repeat;
    border-radius: 21px;
  }
}

.how-block__video-responsive:hover,
.how-block__video-responsive:focus {
  &::before {
    transform: scale(1.2);
  }
}

.how-block__video-responsive:active {
  &::before {
    opacity: 0.3;
    transform: scale(0.8);
  }
}

.how-block__video-placeholder {
  flex-grow: 1;
  display: block;
}

@media (min-width: 768px) {
  .how-block {
    .container-tablet-paddings();
  }

  .how-block__wrapper {
    padding-top: 0;
    padding-right: 40px;
    padding-left: 40px;
  }

  .how-block__video-responsive {
    order: -1;
    margin-bottom: 38px;
    margin-right: -40px;
    margin-left: -40px;
  }


  .how-block__header {
    padding-left: 67px;
    font-size: 20px;
    line-height: 24px;

    &::before {
      left: 0;
      top: -5px;
      width: 34px;
      height: 34px;
    }
  }

  .how-block__text {
    margin-bottom: 40px;
    padding-left: 0;
    padding-right: 0;
  }
}
